<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit page</title>
</head>
<body>
  <form>
        <label for="book_id">Book Id:</label>
        <input name="book_id"><br>
        <label for="book_name">Book name:</label>
        <input name="book_name" type="text"><br>
        <label for="author_name">Author name:</label>
        <input name="author_name" type="text"><br>
        <label for="isbn">ISBN:</label>
        <input name="isbn"><br>
        <input type="submit" formaction="/display" formmethod="POST">
    </form>
</body>
</html>