<!DOCTYPE html>
<html>
  <title>
      Home page
  </title>
  <body>
    <form method='post'>
        <label for="book_id">Book Id:</label>
        <input name="book_id"><br>
        <label for="book_name">Book name:</label>
        <input name="book_name" type="text"><br>
        <label for="author_name">Author name:</label>
        <input name="author_name" type="text"><br>
        <label for="isbn">ISBN:</label>
        <input name="isbn"><br>
        <input type="submit" formaction="./display" formmethod="POST">
    </form>
    <ul>
      {% for book in books %}
        <li>BookId: {{book}},
            BookName: {{ books.get(book).get("book_name") }},
            AuthorName: {{ books.get(book).get("author_name") }},
            ISBN: {{ books.get(book).get("isbn") }}
            <form style="display: inline-block"><input type="submit" value="Edit" formaction="{{ url_for('edit', book_num=book) }}"></form>
            <form style="display: inline-block"><input type="submit" value="Delete" formaction="{{ url_for('delete', book_num=book) }}"></form>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>