<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <form method='post'>
        <label for="Username">Username:</label>
        <input name="Username"><br>
        <label for="Password">Password:</label>
        <input name="Password" type="password"><br>
        <input type="submit" formaction="/" value="Login" formmethod="POST">
    </form>
    <form style="display: inline-block"><input type="submit" value="Logout" formaction="/logout"></form>
    <h3>New user click on signup:</h3>
    <form style="display: inline-block"><input type="submit" value="Signup" formaction="/signup"></form>
    <p>{{display}}</p>
</body>
</html>